body {
  background-color: lightgrey;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  max-width: 56.25rem;
  margin: auto;
}

.photo {
  border-radius: 55%;
  border: 0.187rem solid black;
}

#title,
.subtitle,
.post_title {
  color: #454547;
}

#title {
  font-weight: 16rem;
  text-transform: uppercase;
  padding-left: 0.937rem;
}

.subtitle {
  padding-left: 0.937rem;
}

a {
  text-decoration: line-through;
  color: #454547;
}

.post_title {
  font-size: 1rem;
  font-style: italic;
  marging: 0;
  margin-bottom: 0.937rem;
}

.post {
  background-color: #ffff;
  padding: 0.625rem;
  border: 0.187rem solid black;
  margin-bottom: 0.937rem;
  border-radius: 0.312rem;
}

.post_content {
  maging: 0;
  margin-bottom: 0.937rem;
  text-transform: capitalize;
  text-align: justify;
}

.post_image {
  margin-bottom: 0.937rem;
  width: 100%;
}

.contact_list {
  list-style-type: none;
  padding-left: 0.937rem;
}

.contact_list li a {
  text-decoration: none;
}
